body{
    margin: 0px;
}

#background{
    width: 100%;
    height: 600px;
    background-image: url('forest.png');
    background-attachment: fixed;
}

#headerdiv{
    position: relative;
    height: 300px;
    width: 100%;
    padding-top: 100px;
}

#content{
    height: 1600px;
    width: 100%;
}


#sticky_nav { 
    background-color: #ddd;
    width:100%; 
    height:60px; 
}
#sticky_nav ul { 
    list-style:none; 
    margin:0; 
    padding:5px; 
}
#sticky_nav ul li { 
    margin:0; 
    padding:0; 
    display:inline; 
}
#sticky_nav ul li a { 
    display:block; 
    float:left; 
    margin:0 0 0 5px; 
    padding:0 20px; 
    height:40px; 
    line-height:40px; 
    font-size:14px; 
    font-family:Arial, serif; 
    font-weight:bold; 
    color:#ddd; 
    background:#333; 
    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; 
}

#sticky_nav ul li a:hover, #sticky_nav ul li a.selected { 
    color:#fff; 
    background:#111; }

#nav-container{

}


#elevator{
    background-color: green;
    height: 300px;

}

#three-pictures{
    background-color: blue;
    height: 400px;
}


.titles{
    margin: 0px;
    font-family: georgia;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: white;
}

#main{
    font-size: 80px;
    padding-top: 70px;
}

#subtitle{
    padding-top: 10px;
    font-size: 40px;
}
